<h1><%= @article.title %></h1>
<h2><%= @article.content %></h2>
<%= link_to "Back to Articles", "/articles"%>
<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "DESTROY THIS ARTICLE", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
